# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

src/serviceAccount.json
lib/serviceAccount.json

src/twilioAccount.json
lib/twilioAccount.json

appEngineServiceAccount.json
